*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: gray;

}
header{
    background-color: black;
    height: 200px;

}
header >h1{
    padding-top: 50px;
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header >h2{
    padding-top: 30px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}
a{
    text-decoration: none;
    color: aliceblue;
}
header a:hover{
    text-decoration: underline;
}

section{
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
font-size: 35px; 
padding-left: 30px;                

}
    

.normal{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagem{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagem > p{
color: white;
background-color: rgba(0, 0, 0, 0.651);
width: 500px;
border-radius: 4px;


}
#img1{
background-image: url(imagens/background001.jpg);
background-position: left center;
background-size: cover;
background-attachment: fixed;
}
#img2{
background-image: url(imagens/background002.jpg);
background-position: left bottom;
background-size: cover;
background-attachment: fixed;

}
footer{
padding-top: 10px;
background-color: black;
height: 35px;
color: white;
text-align: center;
font-size: 20px;
}