@charset "UTF-8";

body{
   background-image:  linear-gradient(to top, #ffffff 50%, #87878a );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgb(255, 7, 7);
    text-align: center;
}
h2{
    text-align: center;
}

#principal{

    color: aliceblue;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(33, 8, 250);
   border-color: solid 10px red ;
   }

.basico{
    color: rgb(30, 255, 0);
    text-shadow: 2px 2px 1px black;

   }
.intermediario{
    color: rgb(230, 255, 1);
    text-shadow: 2px 2px 1px black;
}

.avancado{
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 1px black;
}
.destaque{
background-color: rgb(255, 255, 255);
box-shadow: 2px 2px 1px black;
}